#forceChartDiv {
  position:relative;
  height: 800px;
}
.node {
  border-radius: 5px;
  padding:3px;
  text-align: center;
}
.node {
  transform: translate(-50%, -50%);
}
.link {
  stroke: #333;
  stroke-width: 2px;
}
.projectThumb img {
  max-height:150px;
}
.filler {
  height: 300px;
}
.fill {
    object-fit: contain;
  }

.cursive {
    font-family: 'Manrope', sans-serif;
    color: #253629;
}

.title-light {
    font-family: 'Manrope', sans-serif;
    color: #9bb574;
    font-weight: bold;
    display: "inline";
}
span, p {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

img-title {
    font-family: 'Manrope', sans-serif;
    color: #364323;
}

.modal {
    max-height: 60%;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
  }

  main {
    flex: 1 0 auto;
  }
     